.body {
    background: white;
}

.infoDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 140, 0);
}

.activeDiv {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
}

.inactiveDiv {
    width: 100%;
    height: 100%;
    background: rgb(127, 127, 127);
}

.myImage {
    height: 128px;
    width: 128px;
    background: rgb(55, 215, 225);
}
