<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<html>
    <div class="infoDiv">
            <h1>
                <img class="myImage" src="{{ url_for('static', filename='info.png') }}" alt="information image">
                <br>
                Information
            </h1>
            <br>
            Temperature: {{ smoothed_temperature }}
            <br>
            Mode: {{ control_mode }}
            <br>
        </div>
        <br>

    <div>
        <form action="/" method="post">
            <input type="hidden" name="mode" value="manual">
            <input type="checkbox" name="Pump">Pump<br>
            <input type="checkbox" name="Slow">Slow<br>
            <input type="checkbox" name="Speed">Speed<br>
            <button type="submit">Submit</button>
        </form>
    </div>
</html>
